GRITGRID_AI_API_URL=http://127.0.0.1:8000
GRITGRID_AI_API_TOKEN=https://api.render.com/deploy/srv-damnfd9mirbc73ao7gt0?key=nfQth_Lozjc
DATABASE_URL=postgresql://neondb_owner:npg_z6tKwohN9xky@ep-polished-dream-au929xgy-pooler.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
